
/*Syle of the boxes in the board*/
td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}
/*Syle the entire board*/
table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top: 50px;
}
/*First Child is First row*/
table tr:first-child td {
	border-top: 0;
}
/*Last Child is Last row*/
table tr:last-child td {
	border-bottom: 0;
}
/*First Child At End is First Column*/
table tr td:first-child {
	border-left: 0;
}
/*Last Child At End is Last Column*/
table tr td:last-child {
	border-right: 0;
}
/*At the End of game Display*/
.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

.selectSym{
    display: none;
    width: 220px;
    top: 110px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -110px;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: yellow;
    font-size: 2em; 
  }
  
  .selectSym button{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:  50px;
    width: 70px;
  }
  
  .selectSym  button:first-of-type {
    margin-right: 10px;
  }
  .selectSym  button:last-of-type {
    margin-left: 10px;
  }